.list-produto {
	margin-top: 20px;
	clear: both;
	float: left;
	width: 100%;

	.loading {
		color: $cinza;
		display: block;
		margin: 200px auto;
		@include animacao;
	}

	li {
		margin-top: 30px;

		.img-list-produto {
			background-color: $cinza;
			padding: 25px;
			display: block;
			overflow: hidden;
			border-radius: 5px;
			@include animacao;

			img {
				max-height: 180px;
				max-width: 100%;
				display: block;
				margin: 0 auto;
				@include animacao;
			}
		}

		.content-produto {
			@include box-sizing;

			.detalhe-produto, .hover-produto {
				width: 100%;
				display: table-cell;
				vertical-align: middle;
				@include animacao;
			}

			.detalhe-produto {
				h4 {
					//overflow: hidden;
					//height: 25px;
					line-height: 22px;
				}

				.preco {
					margin-top: 2px;
					font-size: 1rem;
					color: $azul;
					font-weight: $bold;
					display: block;
				}
			}

			.hover-produto { 
				@include animacao;
				height: 46px;
				display: none;
			}
		}

		a {
			cursor: pointer;
			@include animacao;

			.content-produto {
				width: 100%;
				text-align: center;
				padding: 20px;
				display: table;
			}

			&:hover {
				.img-list-produto {
					background-color: darken($cinza, 5%);

					img {
						@include scale-rotate;
					}
				}
				.detalhe-produto {
					display: none;
				}

				.hover-produto {
					display: table-cell;
				}
			}
		}
	}
}

.carrinho {
	padding: 0;

	h3 {
		padding-left: 10px;
	}

	li.item-carrinho {
		margin-top: 20px;
		@include clear;

		&:first-child {
			margin-top: 15px;
		}

		.img-list-produto, .content-produto {
			float: left;
			@include box-sizing;
		}

		.img-list-produto {
			padding: 7px;
			width: 33%;
		}

		.content-produto {
			display: table;
			padding: 10px;
			width: 67%;
			position: relative;

			.detalhe-produto {
				height: 55px;
			}

			h4, .preco {
				font-size: 1rem;
				line-height: 1.125rem;
			}

			.preco {
				color: $cinza-escuro;

				.qtd-prod {
					color: $cor-txt;
					font-size: .875rem;
					margin-left: 6px;
				}
			}

			.hover-produto {
				position: absolute;
				right: -4px;
				top: 50%;
				width: auto;
				height: auto;
				margin-top: -10px;

				i {
					color: $azul;
					font-size: 1.5rem;
					@include animacao;
				}

				button:hover {
					i {
						color: $verde;
					}
				}
			}
		}

		&:hover {
			.hover-produto {
				display: block;
			}
		}
	}

	.info-carrinho {
		margin-top: 15px;
		float: left;
		@include clear;
		width: 100%;

		.item {
			display: block;
			margin-top: 15px;
			font-size: 1rem;
			line-height: 1.5rem;

			strong {
				font-size: 1.225;
				float: right;
			}

			&.frete {
				strong {
					font-size: 1rem;
				}
			}

			&.total {
				strong {
					font-size: 1.5rem;
				}
			}
		}
	}
}