.list-produto {
	margin-top: 20px;
	clear: both;
	float: left;
	width: 100%;

	.loading {
		color: $cinza;
		display: block;
		margin: 200px auto;
		@include animacao;
	}

	li {
		margin-top: 30px;

		.img-list-produto {
			background-color: $cinza;
			padding: 25px;
			display: block;
			overflow: hidden;
			border-radius: 5px;
			@include animacao;

			img {
				max-height: 180px;
				max-width: 100%;
				display: block;
				margin: 0 auto;
				@include animacao;
			}
		}

		.content-produto {
			@include box-sizing;

			.detalhe-produto, .hover-produto {
				width: 100%;
				display: table-cell;
				vertical-align: middle;
				@include animacao;
			}

			.detalhe-produto {
				h4 {
					//overflow: hidden;
					//height: 25px;
					line-height: 22px;
				}

				.preco {
					margin-top: 2px;
					font-size: 1rem;
					color: $azul;
					font-weight: $bold;
					display: block;
				}
			}

			.hover-produto { 
				@include animacao;
				height: 46px;
				display: none;
			}
		}

		a {
			cursor: pointer;
			@include animacao;

			.content-produto {
				width: 100%;
				text-align: center;
				padding: 20px;
				display: table;
			}

			&:hover {
				.img-list-produto {
					background-color: darken($cinza, 5%);

					img {
						@include scale-rotate;
					}
				}
				.detalhe-produto {
					display: none;
				}

				.hover-produto {
					display: table-cell;
				}
			}
		}
	}
}

.carrinho {
	padding: 0;

	h3 {
		padding-left: 10px;
	}

	li.item-carrinho {
		margin-top: 20px;
		@include clear;

		&:first-child {
			margin-top: 15px;
		}

		.img-list-produto, .content-produto {
			float: left;
			@include box-sizing;
		}

		.img-list-produto {
			padding: 7px;
			width: 33%;
		}

		.content-produto {
			display: table;
			padding: 10px;
			width: 67%;
			position: relative;

			.detalhe-produto {
				height: 55px;
			}

			h4, .preco {
				font-size: 1rem;
				line-height: 1.125rem;
			}

			.preco {
				color: $cinza-escuro;

				.qtd-prod {
					color: $cor-txt;
					font-size: .875rem;
					margin-left: 6px;
				}
			}

			.hover-produto {
				position: absolute;
				right: -4px;
				top: 50%;
				width: auto;
				height: auto;
				margin-top: -10px;

				i {
					color: $azul;
					font-size: 1.5rem;
					@include animacao;
				}

				button:hover {
					i {
						color: $verde;
					}
				}
			}
		}

		&:hover {
			.hover-produto {
				display: block;
			}
		}
	}

	.carrinho-vazio {
		display: block;
		text-align: center;
		color: darken($cinza, 15%);
		font-size: .75rem;
		line-height: 1rem;
		padding: 30px 0;
		@include clear;

		img {
			display: block;
			margin: 0 auto 20px;
		}
	}

	.info-carrinho {
		margin-top: 15px;
		float: left;
		@include clear;
		width: 100%;
		display: none;

		.item {
			display: block;
			margin-top: 15px;
			font-size: 1rem;
			line-height: 1.5rem;

			strong {
				font-size: 1.225;
				float: right;
			}

			&.frete {
				strong {
					font-size: 1rem;
				}
			}

			&.total {
				strong {
					font-size: 1.5rem;
				}
			}
		}
	}
}

.cart-mobile {
	float: right;
	margin: 30px 50px 0 0;
	cursor: pointer;
	position: absolute;
	z-index: 9999;
	right: 0;
	display: none;

	i {
		color: $cinza-escuro;
		font-size: 2rem;
		@include animacao;
	}

	span {
		font-size: .685rem;
		display: inline-block;
		text-align: center;
		position: relative;
		top: -7px;
		margin-left: 5px;
		@include animacao;
	}

	&:hover, &.active {
		i {
			color: $azul;
		}

		span {
			color: $cinza-escuro;
		}
	}

	&.active {
		position: fixed;
	}
}

@media all and (max-width: 950px){
	.cart-mobile {
		display: block;
	}

	#carrinho {
		position: fixed;
		top: 0vh;
		right: -100%;
		background-color: rgba(#ffffff,.95);
		height: 100vh;
		width: 100%;
		overflow: scroll;
		z-index: 999;
		@include animacao;

		.carrinho {
			max-width: 300px;
			margin: 0 auto;
			padding-top: 90px;
			position: relative;

			h3 {
				text-align: center;
				padding: 0;
				height: 95px;
				display: block;
				line-height: 95px;
				background: #fff;
				z-index: 999;
				width: 100%;
				right: -100%;
				position: fixed;
				top: 0;
				@include animacao;

				#itens-car {
					display: none;
				}
			}
		}

		&.active {
			right: -0%;

			.carrinho {
				h3 {
					right: 0%;
				}
			}
		}
	}

	#container-produto {
		width: 100%;
	}
}

@media all and (max-width: 400px){
	#carrinho {
		&.active {
			h3 {
				padding-right: 30px;
			}
		}
	}
}