html {
	font-size: 100%; 
}

body {
	position: relative;
	min-height: 100vh;
}

body * {
	font-family: $font-family;
	color: $cor-txt;
	font-weight: $regular;
}

.container {
	max-width: $width; 
	width: 100%;
	padding: 0 $padding-container;
	margin: 0 auto;
	position: relative;
	@include box-sizing();
	@include clear();

	@media all and (max-width: 1000px){
		padding-left: ($padding-container)/2;
		padding-right: ($padding-container)/2;
	}	

	@media all and (max-width: 600px) {
		padding-left: ($padding-container)/4;
		padding-right: ($padding-container)/4;
	}

	.content-txt {
		padding: 50px 100px 100px;
		display: block;
		@include clear();
		@include box-sizing();

		ul {
			width: 100%;
			display: block;
			@include clear();

			li {
				width: 100%;
				display: block;
				color: $cor-txt;
				font-size: 1.125rem;
				line-height: 1.225rem;
				font-weight: $light;
				@include clear();

				strong, em, span, b, i {
					color: $cor-txt;
				}
			}
		}

		@media all and (max-width: 750px){
			padding: 50px 40px 50px;
		}

		@media all and (max-width: 500px){
			padding: 50px 5px 50px;
		}
	}
}

.row {
	margin-right: ($padding-col)*(-1);
	margin-left: ($padding-col)*(-1);
	display: block;
	@include clear();

	[class*="col-"] {
		float: left;
		padding-right: $padding-col;
		padding-left: $padding-col;
		@include box-sizing();

		img {
			max-width: 100%;
		}
	}


	@for $i from 1 through 12 {
		.col-#{$i} {
			width: $i*(100%/12);
		}
	}

	.col-4:nth-child(3n+1) {
		@include clear;
	}

	.col-3:nth-child(2n+1) {
		@include clear;
	}

	@media all and (max-width: 1100px) {
		.col-6 {
			width: 100%;
		}
	}

	@media all and (max-width: 800px) {
		.col-4:not(.select) {
			width: 50%;

			&:nth-child(3n+1) {
				clear: none;
			}

			&:nth-child(2n+1) {
				@include clear;
			}
		}

		.select {
			width: 50%;
		}

		.title-page {
			width: 50%;
		}
	}

	@media all and (max-width: 550px) {
		.col-4:not(.select) {
			width: 100%;
			max-width: 320px;
			float: none;
			display: block;
			margin-right: auto;
			margin-left: auto;
			@include clear;

			&:nth-child(3n+1) {
				clear: none;
			}

			&:nth-child(2n+1) {
				@include clear;
			}
		}
	}

	@media all and (max-width: 480px) {
		.select {
			width: 100%;
		}

		.title-page {
			width: 100%;
			text-align: center;
			margin-bottom: 20px;
		}
	}
}


.box-content {
	@include clear;
	width: 100%;
	//overflow: hidden;
	padding: 50px 0;

	&.box-page {
		min-height: 700px;
	}

	&.border {
		border-radius: 5px;
		border: 1px solid $cinza;
	}

	&.no-padding {
		padding: 0;
	}

	.sidebar {
		padding: 10px;
		overflow: hidden;

		.list-produto {
			margin: 0;
		}
	}
}

.no-padding-top {
	padding-top: 0!important;
}

.border {
	border-radius: 5px;
	border: 1px solid $cinza;
}