input:not([type='submit']), textarea, select {
	width: 100%;
	margin-bottom: 5px;
	line-height: 38px;
	color: $cinza-escuro;
	font-weight: $regular;
	display: inline-block;
	border-radius: 5px;
	border: 1px solid $cinza;
	@include animacao;

	&::-webkit-input-placeholder {
	   color: $cinza-escuro;
	   opacity: 1;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   color: $cinza-escuro; 
	   opacity: 1;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   color: $cinza-escuro;
	   opacity: 1;
	}

	&:-ms-input-placeholder {  
	   color: $cinza-escuro;
	   opacity: 1;
	}
}

input:not([type='submit']) {
	height: 38px;
	line-height: 38px;
	padding: 0 15px;
}

textarea {
	padding: 15px;
	height: 150px;
	line-height: 1.5rem;
}

button, input[type='submit'], .btn {
	width: auto;
	height: 38px;
	line-height: 38px;
	padding: 0 35px;
	color: $cinza-escuro;
	font-weight: $bold;
	font-size: 1.225rem;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	background-color: #ffffff;
	border: 1px solid $cinza-escuro;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 5px;
	@include animacao;

	.fa {
		font-size: 1.187rem;
		color: #ffffff;
	}	

	&:hover {
		background-color: darken(#ffffff, 10%);
	}

	&.add-carrinho {
		font-size: .8125rem;
		color: $azul;
		font-weight: $bold;
		border: none;
		line-height: normal;
		height: auto;
		padding: 0;

		&:hover {
			color: $verde;
			background-color: transparent;
		}
	}

	&.enviar {
		width: 100%;
		background-color: $azul;
		color: #fff;
		border: none;
		font-weight: $regular;

		&:hover {
			background-color: darken($azul, 10%);
		}
	}
}

button.none {

}

.select {
	position: relative;

	select {
		padding: 0 15px;
		height: 38px;
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 1px;
		text-overflow: '';
		position: relative;
		z-index: 99;
		background-color: transparent;
		cursor: pointer;
	}

	&:after {
		content: "\f107";
		position: absolute;
		right: 24px;
		top: 0;
		font-style: normal;
		font-weight: normal;
		font-size: 1.4rem;
		line-height: 38px;
		font-family: FontAwesome;
		cursor: pointer;
		height: auto;
		width: auto;
		z-index: 0;
	}
}

	/*select:after {
		content: " ";
		display: inline-block;
		width: 24px; height: 24px;
		background: blue;
	}*/

form {
	margin: 0px auto;
	width: 90%;
	@include clear();

	input, textarea {
		max-width: 100%;
	}

	fieldset {
		margin-top: 15px;

		&.center {
			text-align: center;
		}

		&:first-child {
			margin: 0;
		}

		&.erro {
			input, textarea {
				border-color: $cinza-escuro;

				&::-webkit-input-placeholder {
					color: $cinza-escuro;
				}

				&:-moz-placeholder {
					color: $cinza-escuro; 
				}

				&::-moz-placeholder {
					color: $cinza-escuro;
				}

				&:-ms-input-placeholder {  
					color: $cinza-escuro;
				}
			}
		}
	}
}


/*.select {
	overflow: hidden;
	background-color: $cinza;
	line-height: 44px;
	height: 40px;
	padding: 0 0 0 10px;
	margin-bottom: 20px;
	display: block;
	position: relative;
	@include box-sizing();

	select {
		width: 88%;
		padding-right: 135px;
		background-color: transparent;
		font-weight: $regular;
		font-size: 1.125rem;
		color: $cinza-escuro;
		box-sizing: content-box;
		position: relative;
		z-index: 99;
		cursor: pointer;
	}


}*/

.msg-form {
	text-align: center;
	font-size: 1rem;
	margin: -10px 0 10px;
}