$width: 1280px;
$padding-container: 70px;
$padding-col: 15px;

$font-size: 1.375rem;

$cor-txt: #746a6a;
$azul: #3486e6;
$cinza: #eeeeee;
$cinza-escuro: #484242;
$amarelo: #de9332;

$light: 300;
$regular: 400;
$regular-italic: 300i;
$bold: 500;

$wLogo: 100px;

$hSlide: 80vh;