$width: 1280px;
$padding-container: 70px;
$padding-col: 15px;

$font-size: .75rem;

$cor-txt: #746a6a;
$azul: #3486e6;
$cinza: #e1e1e1;
$cinza-escuro: #363636;
$verde: #41b883;

$light: 300;
$regular: 400;
$bold: 700;

$wLogo: 100px;

$hSlide: 80vh;